@import "tailwindcss";

:root {
  --bg-base: #120a1f;
  --purple: #7c3aed;
  --mint: #6ddc8b;
  --cream: #f3ead0;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

html, body {
  background-color: var(--bg-base);
}